body {
    width: 450px;
    z-index: 999;
}
.main {
    display: flex;
}
.text {
    justify-content: center;
    width: 60%;
    margin: 25px 0px 0px 10px;
}
.text p {
    font-size: 13px;
}
.text input {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 7px;
    /* width: 90%; */
}
.text input:active, .text input:focus, .text input:focus-visible {
    outline: 1px solid transparent;
}
.selectedMovies {
    min-width: 50px;
    max-height: 70px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.selectedMovies div {
    margin: 5px 3px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    background-color: #ff5757;
    padding: 5px 5px;
    border: 1px solid #ff5757;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.selectedMovies > div > span {
    margin-right: 8px;
} 
.removeMovie {
    background-color: white;
    color: #ff5757 !important;
    font-weight: 800;
    padding: 0px 3px;
    border-radius: 50%;
}
.removeMovie:visited, .removeMovie:hover, .removeMovie:focus, .removeMovie:active {
    background-color: white;
    color: #ff5757 !important;
    cursor: pointer;
}
.logoDiv {
    justify-content: center;
}
.logo {
    width: 150px;
    height: 150px;
}
.submitDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.submit {
    background-color: #ff5757;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border: 0px solid #ff5757;
    padding: 8px 12px;
    border-radius: 5px;
}